InnerLoop.Gridsize                      30
InnerLoop.PatternSearch.Size            5
InnerLoop.PatternSearch.Stepsize        0.05
InnerLoop.PatternSearch.nSteps          6
InnerLoop.MCSamples                     5000

OuterLoop.Gridsize                      50
OuterLoop.PatternSearch.Size            5
OuterLoop.PatternSearch.Stepsize        0.05
OuterLoop.PatternSearch.nSteps          6
OuterLoop.MCSamples                     10000

VerificationStep.Gridsize               80
VerificationStep.PatternSearch.Size     5
VerificationStep.PatternSearch.Stepsize 0.05
VerificationStep.PatternSearch.nSteps   6
VerificationStep.MCSamples              20000

maxiters            50
epsilon             0.008
rngOffsetPerIter    20000

hacks.paymentrule           allroundergeneric
hacks.paymentrule.ref       zero
hacks.paymentrule.weight    equal
hacks.paymentrule.amp       1

hacks.useCCG        false
hacks.usetesting    false
