InnerLoop.Gridsize                      20
InnerLoop.PatternSearch.Stepsize        0.1
InnerLoop.PatternSearch.nSteps          8
InnerLoop.MCsamples                     25000

OuterLoop.Gridsize                      35
OuterLoop.PatternSearch.Stepsize        0.1
OuterLoop.PatternSearch.nSteps          8
OuterLoop.MCsamples                     25000

VerificationStep.Gridsize               5
VerificationStep.PatternSearch.Stepsize 0.1
VerificationStep.PatternSearch.nSteps   8
VerificationStep.MCsamples              5000

maxiters            50
epsilon             0.01
RNGOffsetPerIter    50000

PatternSearch.Size     9
hacks.boxpattern    true
hacks.batchsize        1

hacks.useCCG        false
hacks.usetesting    false

hacks.paymentrule           allroundergeneric
hacks.paymentrule.ref       vcg
hacks.paymentrule.weight    bids
hacks.paymentrule.amp       5

sampler.betadist true
sampler.betadist.alpha	3
sampler.betadist.beta	0.33333333

sampler.betadist.globaluniform true
