InnerLoop.Gridsize                      30
InnerLoop.PatternSearch.Stepsize        0.05
InnerLoop.PatternSearch.nSteps          6
InnerLoop.MCSamples                     5000

OuterLoop.Gridsize                      50
OuterLoop.PatternSearch.Stepsize        0.05
OuterLoop.PatternSearch.nSteps          6
OuterLoop.MCSamples                     10000

VerificationStep.Gridsize               80
VerificationStep.PatternSearch.Stepsize 0.05
VerificationStep.PatternSearch.nSteps   6
VerificationStep.MCSamples              20000

maxiters            50
epsilon             0.008
rngOffsetPerIter    20000

PatternSearch.Size     9
hacks.boxpattern    true
hacks.batchsize        1

hacks.useCCG        false
hacks.usetesting    false

hacks.paymentrule           allroundergeneric
hacks.paymentrule.weight    bids
hacks.paymentrule.ref		vcg
hacks.paymentrule.amp       5


sampler.betadist.globaluniform true